body {
    margin: 0;
    font-family: Arial;
    background: #0b1220;
    color: #e2e8f0;
}

/* HEADER */
.header {
    text-align: center;
    padding: 15px;
    background: #020617;
}

/* KPI */
.kpi-container {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.kpi {
    flex: 1;
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.kpi p {
    font-size: 28px;
    margin: 5px;
}

.kpi.danger {
    background: #7f1d1d;
}

.kpi.warning {
    background: #78350f;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
}

/* PANELS */
.panel {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    height: 500px;
    overflow-y: auto;
}

/* ALERTS */
.alert-card {
    background: #7f1d1d;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.small {
    font-size: 12px;
}

.time {
    font-size: 10px;
    color: #cbd5f5;
}

/* EVENTS */
.event {
    display: flex;
    justify-content: space-between;
    background: #020617;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.event.attack {
    border-left: 4px solid red;
    background: #450a0a;
}

/* TAG */
.tag {
    background: #2563eb;
    padding: 3px 6px;
    border-radius: 5px;
}